cricket_ball_data
backend/dataset/cricket_ball_data/
backend/dataset/_kaggle_download/
myenv
.venv/
uploads/
backend/uploads/
*.mp4

__pycache__/
*.pyc
*.log
backend/__pycache__/predict_server.cpython-314.pyc
